:root {
    --semperRed: #CE0109;
    --semperBlue: #004C97;
    --semperOrange: #E65B12;
}

/* ----------------------------------------Lines Spacing & Titles----------------------------------------- */
.verticalLine {
    width: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 150px;
    border-left: 1px solid lightgrey;
}

.horizontalLine {
    margin: 0;
    margin-bottom: 35px;
    position: relative;
    background: lightgrey;
    border: none;
    height: 1px;
    opacity: 1;
}

.horizontalLine:before {
    content: '';
    height: 2.5px;
    width: 20%;
    background: #CE0109;
    position: absolute;
    left: 0;
    bottom: 0;
}

.sectionTitle {
    margin: 0 !important;
    font-weight: 300;
    color: #004c97;
}

/* ----------------------------------------Lines Spacing & Titles END ------------------------------------ */


/*-------------------------------- Hero Area---------------------------------------------- */
[class^="image-map-"] {
    position: absolute;
}

.header-wrapper {
    margin-bottom: 40px;
    background-color: var(--semperBlue);
}

.image-map-solar {
    left: 6.6%;
    top: 72%;
    width: 5%;
    height: 20%;
}

.image-map-battery {
    left: 34%;
    top: 72%;
    width: 12.5%;
    height: 20%;
}

.image-map-roofing {
    left: 66.5%;
    top: 72%;
    width: 6.8%;
    height: 20%;
}

.image-map-hvac {
    left: 72.3%;
    top: 72%;
    width: 10%;
    height: 20%;
}

@media screen and (max-width:799.9px) {
    .image-map-solar {
        left: 2%;
        top: 86%;
        width: 11%;
        height: 25%;
    }

    .image-map-battery {
        left: 36%;
        top: 88%;
        width: 31%;
        height: 11%;
    }

    .image-map-roofing {
        left: 76%;
        top: 86%;
        width: 15%;
        height: 11%;
    }

    .image-map-hvac {
        left: 68%;
        top: 88%;
        width: 24%;
        height: 11%;
    }
}

/*-------------------------------------------- Hero Area End ---------------------------------*/


/* ----------------------------------------- Top Text Area ------------------------------ */
.top-text-area h1 {
    padding: 0px 200px;
    margin-bottom: 35px;
}

.top-text-area article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.top-text-area article p {
    text-align: left;
    font: normal normal normal 18px/27px Barlow;
    max-width: 480px;
}

@media screen and (max-width: 700px) {
    .top-text-area article {
        gap: 0px;
    }

    .top-text-area h1 {
        padding: 0px 15px;
        margin: auto;
        margin-bottom: 15px;
    }

    .top-text-area article img {
        padding: 15px;
    }

    .top-text-area article p {
        margin: 0px;
    }

}

/* ----------------------------------------- Top Text Area END ------------------------------ */

/*---------------------------------- Services area ----------------------------------------------------- */
.servicesHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.service-block {
    max-width: 250px;
    min-width: 150px;
}

a:hover {
    text-decoration: none !important;
}

/*---------------------------------- Services area END ----------------------------------------------------- */



/* ----------------------------------------  Text Section ----------------------------------- */
.services-text-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    max-width: 1100px;
    margin: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.services-text-section article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    max-width: 350px;
    margin-bottom: 75px;
    position: relative;
}

.services-text-section article img {
    border-radius: 0px;
    border-bottom: 4px solid var(--semperBlue);
    width: 500px;
}

.services-text-section article .img-banner {
    border-bottom: 0;
    width: auto;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
}


.services-text-section article h2 {
    text-transform: none;
    font-size: 20px;
}

.services-text-section article p {
    margin: 0;
    min-height: 267px;
}

@media screen and (max-width: 700px) {
    .services-text-section {
        padding: 15px;
    }

    .services-text-section article {
        margin-bottom: 35px;
        ;
    }

    .services-text-section article p {
        height: auto;
    }
}

/* Explore more button under services  */
.explore-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    font-size: 16px;
    text-shadow: 0.75px 0 0 currentColor;
    width: 245px;
    color: var(--semperRed) !important;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    border: 2px solid #EAEAEA;
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

article .explore-button svg {
    margin-top: auto;
    margin-bottom: auto;
    width: 20px;
    height: 20px;

}

article .explore-button:hover svg path {
    fill: #fff;
}

.explore-button:hover {
    color: white !important;
    background-color: var(--semperRed);
    border-color: white;
}

/* Explor more button under services  */


/* ----------------------------------------  Text Section END ------------------------------- */


.offer-holder {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


/*--------------------------- Map AREA ---------------------------------------- */
.switch-field input {
    position: absolute !important;
    height: 1px;
    width: 1px;
    color: transparent;
    background-color: transparent;
}

.switch-field label {
    background-color: #e4e4e4;
    color: black;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: var(--semperBlue);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.gMap {
    display: none;
}

.bingMap {
    display: none;
    text-align: center;
}

.switch-field input[value="2"]:checked~.gMap {
    display: block;
}

.switch-field input[value="1"]:checked~.bingMap {
    display: block;
}

.locationDetails {
    color: gray;
}

.smp-cares-wrapper {
    margin-bottom: 40px;
}

.service-wrapper {
    padding-bottom: 60px;
}

.map-wrapper {
    margin-top: 40px;
}

.grecaptcha-badge {
    display: none;
}

/*--------------------------- Map AREA END ---------------------------------------- */
@media screen and (max-width:768px) {
    .header-wrapper {
        margin-bottom: 40px;
        background-color: none;
    }

    .service-wrapper {
        margin-top: 25px;
    }

    .location-info {
        text-align: left !important;
        width: 100% !important;
        margin-left: 0 !important;
    }

    .top-text-area h1 {
        font-size: 22px !important;
    }

    .top-text-area p {
        padding: 20px;
    }

    .smp-cares-p {
        padding-right: 25px !important;
        padding-left: 25px !important;

    }

    .map-wrapper {
        margin-top: 20px;
    }

    .sectionTitle {
        font-size: 24px !important;
    }

    .offer-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .service-wrapper {
        padding-bottom: 40px;
    }

    .smp-cares-wrapper {
        margin-bottom: 0px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .top-text-area {
        padding: 0px !important;
    }

    .offer-holder {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .offer-holder img {
        padding-bottom: 25px;
    }

    .locationDetails {
        border: none !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 100% !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left;
        margin-bottom: 2%;
        margin-left: 25%;
    }

    .servicesHolder {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .service-block {
        min-width: 50%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .service-block h3 {
        font-size: 24px !important;
    }

    .service-block p {
        display: none;
    }

    .verticalLine {
        display: none;
    }

    .border-line {
        border-bottom: 1px solid lightgray !important;
        border-right: 1px solid lightgray;
    }

    .border-line-2 {
        border-top: 1px solid lightgray;
        border-left: 1px solid lightgray;
    }

    .border-line-3 {
        border-right: 1px solid lightgray;
        border-top: 1px solid lightgray;
    }

    .border-line-4 {
        border-bottom: 1px solid lightgray;
        border-left: 1px solid lightgray;
    }
}